server/*.pyc
server/data/apidata.csv
server/data/uidsUsed.txt
backup/
preprocess/.idea/
preprocess/data/corpus/
preprocess/data/corpusBACKUP
preprocess/__pycache__/
preprocess/data/exceptions.txt
preprocess/data/mystem.exe
preprocess/data/mystem_output/
preprocess/logs
backups/
preprocess/data/refined_texts/
server/service/server_logs.txt
server/__pycache__/
